// Colors
$main-dark: #2b2d42;
$secondary-dark: #293241;
$contrast-dark: #edf2f4;
$white: #edf2f4;
$main-light: #edf2f4;
$light: #edf6f9;
$contrast-light: #faf3dd;
$team-border: #5390d9;

// Fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;